<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic@1.19.2/dist/theme.min.css"
  integrity="sha256-4Wtj6dqgMBT/Ji+vI49GON0NbfDlaJH06SUD7TH4yYg="
  crossorigin="anonymous"
/>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@5.30.0/dist/lite/builds/browser.umd.js" integrity="sha256-w/rbJ5CGTW5rub22bQ/VEoIHxypNh4NZPdkIJvGMZlI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.79.0/dist/instantsearch.production.min.js" integrity="sha256-FOU2owonNoOmNxF4I8jLR4D8w/vziYNi64GUN2boXRQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js@1"></script>

{{#if page.component}}
  <script>
    (() => {
      const UI_TYPE = {
        ITEM: 0,
        HEADING: 1,
        SUBITEM: 2,
      };
      const getArticleSVG = (html) => html`
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14 2H6C4.9 2 4 2.9 4 4V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V8L14 2Z" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M14 2V8H20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M16 13H8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          <path d="M16 17H8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          <path d="M10 9H8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>`

      const getHashtagSVG = (html) => html`
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 9H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M4 15H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10 3L8 21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M16 3L14 21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>`

      const { autocomplete, getAlgoliaResults } = window['@algolia/autocomplete-js'];
      const { liteClient: algoliasearch } = window['algoliasearch/lite'];
      const ALL_VERSIONS_TITLE = 'All';
      const initialFacet = [{ title: ALL_VERSIONS_TITLE, versions: ['default'] }];
      let currentComponent = '{{page.component.title}}';
      let currentVersion = '{{page.displayVersion}}';

      const componentVersions = [
        ...initialFacet,
        ...window.UTILS.parseHbsJsonString(
          '{{get-facets-from-components (sort-components site.components 'name' page.attributes.component-order) @root.page}}'
        )
      ];

      const getComponentOptions = (html) => componentVersions
        .map(({ title }) => title === currentComponent
          ? html`<option value="${title}" selected>${title}</option>`
          : html`<option value="${title}">${title}</option>`);

      const getComponentVersionOptions = (html) => componentVersions
        .find(({ title }) => title === currentComponent).versions
        .map(version => version === currentVersion
          ? html`<option value="${version}" selected>${version}</option>`
          : html`<option value="${version}">${version}</option>`);

      const getFacetFilters = () => {
        return currentComponent === ALL_VERSIONS_TITLE ? [] : [`componentVersion:${currentComponent}_${currentVersion}`];
      };

      function flatten(values) {
        return values.reduce((a, b) => {
          return a.concat(b);
        }, []);
      }

      function normalizeReshapeSources(sources) {
        return flatten(sources).filter(Boolean);
      }

      const groupBy = (predicate, options) => {
        return function runGroupBy(...rawSources) {
          const sources = normalizeReshapeSources(rawSources);

          if (sources.length === 0) {
            return [];
          }

          // Since we create multiple sources from a single one, we take the first one
          // as reference to create the new sources from.
          const referenceSource = sources[0];
          const items = flatten(sources.map((source) => source.getItems()));
          const groupedItems = items.reduce((acc, item) => {
            const key = predicate(item);

            if (!acc.hasOwnProperty(key)) {
              acc[key] = [];
            }

            acc[key].push(item);

            return acc;
          }, {});

          return Object.entries(groupedItems).map(([groupName, groupItems]) => {
            const userSource = options.getSource({
              name: groupName,
              items: groupItems,
            });

            return {
              ...referenceSource,
              sourceId: groupName,
              getItems() {
                return groupItems;
              },
              ...userSource,
              templates: {
                ...referenceSource.templates,
                ...userSource.templates,
              },
            };
          });
        };
      };

      const searchClient = algoliasearch('{{site.keys.docsearchId}}', '{{site.keys.docsearchApi}}');

      const groupByProduct = groupBy((hit) => hit.componentVersion.split('_')[0], {
        getSource({ name, items }) {
          return {
            getItems() {
              const sorted = items.sort((a, b) => `${a.title}${a.type}${a.section}`.localeCompare(`${b.title}${b.type}${b.section}`))
              let prevIndex = null;
              const grouped = sorted.reduce((acc, next, i) => {
                // if is subitem
                if (prevIndex !== null && sorted[prevIndex].title === next.title) {
                  // if is immediate subitem
                  if (i - prevIndex === 1) {
                    acc[prevIndex].uiType = UI_TYPE.SUBITEM;
                    acc.splice(prevIndex, 0, { ...sorted[prevIndex], uiType: UI_TYPE.HEADING });
                    acc.push({ ...next, uiType: UI_TYPE.SUBITEM });
                  // if second or > subitem
                  } else {
                    acc.push({ ...next, uiType: UI_TYPE.SUBITEM });
                  }
                } else {
                  acc.push({ ...next, uiType: UI_TYPE.ITEM });
                  prevIndex = i;
                }
                return acc;
              }, [])
              return grouped;
            },
            templates: {
              header({ html }) {
                return currentComponent === ALL_VERSIONS_TITLE ? html`
                <span class="aa-SourceHeaderTitle">${name}</span>
                <div class="aa-SourceHeaderLine" />
              ` : '';
              },
            },
          };
        },
      });

      const {
        refresh,
        setIsOpen,
      } = autocomplete({
        container: '#search-input',
        placeholder: '',
        defaultActiveItemId: 0,
        detachedMediaQuery: '',
        reshape({ sourcesBySourceId }) {
          const { algolia, ...rest } =
            sourcesBySourceId;
          const groupedSources = groupByProduct(algolia);
          // if there are no sources, return the default algolia source, to show the "No Results" template
          const resultingSources = groupedSources.length > 0 ? groupedSources : algolia;
          return [
            resultingSources,
            Object.values(rest),
          ];
        },
        getSources({ query }) {
          return [
            {
              sourceId: 'algolia',
              getItems() {
                return getAlgoliaResults({
                  searchClient,
                  queries: [
                    {
                      indexName: '{{site.keys.docsearchIndex}}',
                      params: {
                        query,
                        hitsPerPage: 5,
                        facetFilters: [getFacetFilters()],
                        attributesToSnippet: ['title:10', 'content:35'],
                        snippetEllipsisText: '…',
                      },
                    },
                  ],
                });
              },
              templates: {
                item({ item, components, html }) {
                  return html`
              <div class="aa-ItemWrapper">
                <div class="aa-ItemContent">
                  <div class="aa-ItemIcon">
                    ${item.uiType === UI_TYPE.HEADING || item.uiType === UI_TYPE.ITEM ? getArticleSVG(html) : getHashtagSVG(html)}
                  </div>
                  <a class="aa-ItemLink" href="${item.url}" target="_self">
                    <div class="aa-ItemContentBody">
                      <h4 class="aa-ItemContentTitle">
                        <span>${components.Highlight({ hit: item, attribute: 'title' })}</span>
                        ${item.section && !item.subItems ? html`<span>${components.Highlight({hit: item, attribute: 'section'})}</span>` : ''}
                      </h4>
                      ${item.subItems ?
                        html`<ul class="aa-ItemPageGroup">
                            ${item.subItems.map((subItem) => html`<a class="aa-ItemLink" href="${subItem.url}" target="_self" key="${subItem.url}">
                                <li class="aa-ItemPageGroupItem">
                                  <h5 class="aa-ItemContentTitle">${components.Highlight({ hit: subItem, attribute: 'section' })}</h5>
                                  <p class="aa-ItemContentDescription">
                                    ${components.Snippet({hit: subItem, attribute: 'content'})}
                                  </p>
                                </li>
                            </a>`)}
                        </ul>` :
                        html`<p class="aa-ItemContentDescription">
                          ${components.Snippet({hit: item, attribute: 'content'})}
                        </p>`}
                      <div class="aa-ItemContentBreadcrumbs">
                        ${item.breadcrumbs ? item.breadcrumbs.join(' > ') : ''}
                      </div>
                    </div>
                  </a>
                </div>
              </div>`;
                },
                noResults({ html }) {
                  return html`<p class="search-no-results">No results found.</p>`;
                },
              },
              getItemUrl({ item }) {
                return item.url;
              },
            },
          ];
        },
        render({ elements, render, html, ...rest }, root) {
          const dataSources = Object.values(elements);

          render(
            html`<div class="aa-PanelLayout aa-Panel--scrollable">
              <div class="aa-PanelSection aa-PanelSection--top">
                <div class="aa--ComponentversionPicker">
                  <div class="select">
                    <select id="componentSelect">
                      ${getComponentOptions(html)}
                    </select>
                    <span class="focus"></span>
                  </div>
                  ${getComponentVersionOptions(html).length > 1 ? html`<div class="select">
                    <select id="componentVersionSelect">
                      ${getComponentVersionOptions(html)}
                    </select>
                    <span class="focus"></span>
                  </div>` : ''}
                </div>
                ${ window.Kapa ? html`<p class="aa-AskAISection">Can't find what you're looking for? <button id="askAIBtn" class="aa-AskAIBtn"><strong>Ask AI</strong></button></p>` : ''}
              </div>
              <div class="aa-PanelSection aa-PanelSection--bottom">
                ${dataSources}
              </div>
            </div>`,
            root
          );
        },
      });

      document.addEventListener('mousedown', (event) => {
        if (event.target.id === 'componentSelect' || event.target.id === 'componentVersionSelect') {
          event.stopImmediatePropagation();
        } else if (event.target.id === 'askAIBtn') {
          event.preventDefault();
          window.Kapa.open({ query: document.querySelector('input.aa-Input').value });
          setIsOpen(false);
        }
      }, true);

      document.addEventListener('change', (event) => {
        if (event.target.id === 'componentSelect') {
          console.log('componentSelect', event.target.value);
          currentComponent = event.target.value;
          currentVersion = componentVersions.find(({ title }) => title === currentComponent).versions[0];
          refresh();
        } else if (event.target.id === 'componentVersionSelect') {
          currentVersion = event.target.value;
          refresh();
        }
      });
    })()
  </script>
{{/if}}
