<article class="doc">
  {{>nav-toggle}}
<!--  {{{page.contents}}}-->
  <div class="category-landing-content">
    <div class="category-landing-section category-landing-description-section">
      <div class="category-landing-article">
        <h2 class="category-landing-title">Hazelcast Platform</h2>
        <p class="category-landing-text">
          Combining a distributed compute engine and a fast data store,
          Hazelcast Platform offers unmatched performance, resilience,
          and scale for real-time and AI applications. See the <a href="https://hazelcast.com/use-cases/">Use Cases</a>.
        </p>
        <p class="category-landing-text">
          Combine Platform with our <a href="https://docs.hazelcast.com/clc/latest/overview">CLC</a> command line interface,
          <a href="https://docs.hazelcast.com/management-center/latest/getting-started/overview">Management Centre</a> UI
          management and monitoring, Kubernetes <a href="https://docs.hazelcast.com/operator/latest/">Operator</a> tools.
        </p>
        <p class="category-landing-text">
          Integrate with other systems using <a href="https://docs.hazelcast.com/hazelcast/latest/integrate/connectors">Connectors</a>.
        </p>
        <p class="category-landing-text">
          Connect your <a href="https://docs.hazelcast.com/hazelcast/5.4/clients/hazelcast-clients">clients</a> to Hazelcast clusters.
        </p>
      </div>
      <img class="category-landing-image category-landing-description-image" src="{{{uiRootPath}}}/img/category-landing/real-time-sync.png" alt="real-time" />
    </div>

    <div class="category-landing-section">
      <img class="category-landing-image category-landing-list-image" src="{{{uiRootPath}}}/img/category-landing/cloud-providers.png" alt="cloud providers" />
      <div class="category-landing-article">
        <h2 class="category-landing-title">Enterprise</h2>
        <p class="category-landing-text">
          You can enjoy Hazelcast Platform at no cost with our Community edition,
          but you get so much more with our Enterprise edition.
        </p>
        <ul class="category-landing-list">
          <li class="category-landing-list-item">
            Access to <a href="http://hazelcast/support.com/s/">Hazelcast Support</a> with defined SLAs
          </li>
          <li class="category-landing-list-item">
            Patch releases
          </li>
          <li class="category-landing-list-item">
            <a href="https://docs.hazelcast.com/hazelcast/latest/secure-cluster/hardening-recommendations">Security and persistence</a>
          </li>
          <li class="category-landing-list-item">
            <a href="https://docs.hazelcast.com/hazelcast/latest/cp-subsystem/cp-subsystem">CP Subsystem</a>
          </li>
          <li class="category-landing-list-item">
            <a href="https://docs.hazelcast.com/hazelcast/latest/storage/high-density-memory">HD Memory</a>
          </li>
          <li class="category-landing-list-item">
            <a href="https://docs.hazelcast.com/hazelcast/latest/wan/wan">WAN Replication</a>
          </li>
          <li class="category-landing-list-item">
            <a href="https://docs.hazelcast.com/hazelcast/latest/maintain-cluster/rolling-upgrades">Rolling upgrades</a>
          </li>
          <li class="category-landing-list-item">
            Stable long-term and innovative short-term releases
          </li>
          <li class="category-landing-list-item">
            <a href="https://docs.hazelcast.com/management-center/latest/getting-started/overview">Management Center</a> for
            larger clusters and <a href="https://docs.hazelcast.com/operator/latest/">Operator</a> for Kubernetes
          </li>
          <li class="category-landing-list-item">
            New and improved <a href="https://docs.hazelcast.com/hazelcast/latest/integrate/connectors">connectors</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="category-landing-tabs">
      <div class="category-landing-tab-buttons">
        <a href="#developer" class="category-landing-tab-button active">
          Developer
        </a>
        <a href="#operator" class="category-landing-tab-button">
          Operator
        </a>
        <a href="#architect" class="category-landing-tab-button">
          Architect
        </a>
        <a href="#devops" class="category-landing-tab-button">
          DevOps
        </a>
        <a href="#data-scientist" class="category-landing-tab-button">
          Data Scientist
        </a>
      </div>
      <div class="category-landing-tab-content active" data-tab="developer">
        <div class="category-landing-tab-description">
          <p class="category-landing-tab-description-item">
            Follow our tutorials to <a href="https://docs.hazelcast.com/hazelcast/latest/getting-started/enterprise-overview">get started with Hazelcast Enterprise</a>.
          </p>
          <p class="category-landing-tab-description-item">
            Check the version <a href="https://docs.hazelcast.com/hazelcast/latest/deploy/versioning-compatibility">compatibilities</a> or
            <a href="https://docs.hazelcast.com/hazelcast/latest/release-notes/5-4-0">Release Notes</a>.
          </p>
          <p class="category-landing-tab-description-item">
            Find out about best practices and <a href="https://docs.hazelcast.com/hazelcast/latest/configuration/understanding-configuration">configuration methods</a>.
          </p>
          <p class="category-landing-tab-description-item">
            Deploy with <a href="https://docs.hazelcast.com/hazelcast/latest/kubernetes/deploying-in-kubernetes">Kubernetes</a>,
            <a href="https://docs.hazelcast.com/hazelcast/latest/deploy/deploying-with-docker">Docker</a>, or in a <a
            href="https://docs.hazelcast.com/hazelcast/latest/deploy/deploying-in-cloud">public cloud</a>.
          </p>
          <p class="category-landing-tab-description-item">
            Integrate and extend with <a href="https://docs.hazelcast.com/hazelcast/latest/integrate/connectors">connectors</a> and
            <a href="https://docs.hazelcast.com/hazelcast/latest/plugins/cloud-discovery">plugins</a>.
          </p>
        </div>
        <img class="category-landing-image category-landing-tabs-image" src="{{{uiRootPath}}}/img/category-landing/develop-solutions.png" alt="develop" />
      </div>
    </div>

    <div>
      <h2 class="category-landing-title">Quick Peek</h2>
      <div class="category-landing-section category-landing-features">
        <img class="category-landing-image category-landing-features-image" src="{{{uiRootPath}}}/img/category-landing/features-overview.png" alt="features" />
        <div class="category-landing-article">
          <p class="category-landing-text">
            Watch the videos to see how to get started with Hazelcast.
          </p>
          <p class="category-landing-text">
            Watch as we take you through:
          </p>
          <ul class="category-landing-list">
            <li class="category-landing-list-item">Starting your cluster</li>
            <li class="category-landing-list-item">Connecting your client (we're using a Java client)</li>
            <li class="category-landing-list-item">Updating the configuration</li>
            <li class="category-landing-list-item">Populating  data structures</li>
            <li class="category-landing-list-item">Building pipelines</li>
            <li class="category-landing-list-item">Adding user code namespaces</li>
            <li class="category-landing-list-item">Connecting to an external database</li>
            <li class="category-landing-list-item">Running Queries</li>
            <li class="category-landing-list-item">Monitoring and managing the cluster</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>

<script>

</script>
