<div class="home">
  <div class="home-background">
    <h1 class="home-background-heading">Find answers to your questions in our extensive documentation.</h1>
    <div id="search-input" class="search-container searchbox">
    </div>
  </div>
	<main data-ceiling="topbar">
		<article class="article">
      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-cards/bulb.png" alt="bulb" />
          </div>
          <h4 class="card-title">Get Started</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/get-started">Hello World</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/overview">About Hazelcast Cloud</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/tutorials">Tutorials</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/support">Support</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/release-notes">Release Notes</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-cards/tools.png" alt="bulb">
          </div>
          <h4 class="card-title">Quick Links</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/create-account">Create an Account</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/multi-factor-authentication">Multi-Factor Authentication</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/payment-methods">Billing and Payments</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">Developer Guide</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/management-center">Monitor Your Clusters</a>
          </li>
        </ul>
      </div>

<!--      <div class="card">-->
<!--        <div class="section-content-columns">-->
<!--          <div class="section-content-column">-->
<!--            <h4 class="section-content-title">Get Started</h4>-->
<!--            <ul class="card-list">-->
<!--              <li class="card-list-item">-->
<!--                <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/install-hazelcast">Install Open Source</a>-->
<!--              </li>-->
<!--              <li class="card-list-item">-->
<!--                <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/install-enterprise">Install Enterprise</a>-->
<!--              </li>-->
<!--              <li class="card-list-item">-->
<!--                <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/enterprise-overview">Explore Enterprise Features</a>-->
<!--              </li>-->
<!--              <li class="card-list-item">-->
<!--                <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/support">Support</a>-->
<!--              </li>-->
<!--              <li class="card-list-item">-->
<!--                <a href="{{{siteRootPath}}}/hazelcast/latest/release-notes/releases">Release Notes</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="section-content-column">-->
<!--            <h4 class="section-content-title">Quick Links</h4>-->
<!--            <ul class="card-list">-->
<!--              <li class="card-list-item">-->
<!--                <a href="{{{siteRootPath}}}/hazelcast/latest/sql/sql-overview">SQL</a>-->
<!--              </li>-->
<!--              <li class="card-list-item">-->
<!--                <a href="{{{siteRootPath}}}/hazelcast/latest/production-checklist">Production Checklist</a>-->
<!--              </li>-->
<!--              <li class="card-list-item">-->
<!--                <a href="{{{siteRootPath}}}/operator/latest/">Kubernetes Operator Deployment Guide</a>-->
<!--              </li>-->
<!--              <li class="card-list-item">-->
<!--                <a href="{{{siteRootPath}}}/hazelcast/latest/data-structures/map">Map Data Structure</a>-->
<!--              </li>-->
<!--              <li class="card-list-item">-->
<!--                <a href="{{{siteRootPath}}}/hazelcast/latest/clients/java">Java Client</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
		</article>
	</main>
</div>
