<div class="home">
  <div class="home-background">
    <h1>{{{page.title}}}</h1>
    <div id="search-input" class="search-container">
    </div>
  </div>
	<main data-ceiling="topbar">
		<article class="article">
			<div class="cards">
				<div class="row landing">

					<div class="card">
						<h3 class="card-header"><a href="{{{siteRootPath}}}/cloud/">Hazelcast Viridian Cloud Managed Services</a></h3>
						<p class="card-summary">
							Simplify the development and deployment of your applications with a cloud managed service based on Hazelcast Platform.
						</p>
						<div class="section-content-columns">
							<div class="section-content-column">
								<h4 class="section-content-title">Get Started</h4>
								<ul class="section-content-list">
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/cloud/get-started">Hello World</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/cloud/serverless-cluster">About Viridian Serverless</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/cloud/tutorials">Tutorials</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/cloud/support">Support</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/cloud/release-notes">Release Notes</a>
									</li>
								</ul>
							</div>
							<div class="section-content-column">
								<h4 class="section-content-title">Quick Links</h4>
								<ul class="section-content-list">
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/cloud/create-account">Create an Account</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/cloud/multi-factor-authentication">Multi-Factor Authentication</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/cloud/payment-methods">Billing and Payments</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/cloud/developer-guide">Developer Guide</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/cloud/management-center">Monitor Your Clusters</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="card">
						<h3 class="card-header"><a href="{{{siteRootPath}}}/hazelcast/latest/">Hazelcast Platform</a>
						</h3>
						<p class="card-summary">
							Manually deploy and manage a Hazelcast Platform cluster on your own hardware or in a public cloud environment.
						</p>
						<div class="section-content-columns">
							<div class="section-content-column">
								<h4 class="section-content-title">Get Started</h4>
								<ul class="section-content-list">
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/install-hazelcast">Install Open Source</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/install-enterprise">Install Enterprise</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/enterprise-overview">Explore Enterprise Features</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/support">Support</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/hazelcast/latest/release-notes/releases">Release Notes</a>
									</li>
								</ul>
							</div>
							<div class="section-content-column">
								<h4 class="section-content-title">Quick Links</h4>
								<ul class="section-content-list">
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/hazelcast/latest/sql/sql-overview">SQL</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/hazelcast/latest/production-checklist">Production Checklist</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/operator/latest/">Kubernetes Operator Deployment Guide</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/hazelcast/latest/data-structures/map">Map Data Structure</a>
									</li>
									<li class="section-content-list-item">
										<a href="{{{siteRootPath}}}/hazelcast/latest/clients/java">Java Client</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="row landing">
					<div class="card clients-first">
						<h3 class="card-header">Hazelcast Client Libraries
						</h3>
						<p class="card-summary">
							Connect your applications to Hazelcast clusters.
						</p>
					</div>
					<div class="card clients">
						<figure class="item">
								<a href="https://hazelcast.com/clients/java/"><img src="{{{uiRootPath}}}/img/language-logo-java.png">
								<figcaption class="caption">Java</figcaption></a>
						</figure>
						<figure class="item">
								<a href="https://hazelcast.com/clients/dotnet/"><img src="{{{uiRootPath}}}/img/dotnet.png">
								<figcaption class="caption">.Net</figcaption></a>
						</figure>
						<figure class="item">
								<a href="https://hazelcast.com/clients/cplusplus/"><img src="{{{uiRootPath}}}/img/cpp.svg"/>
								<figcaption class="caption">C++</figcaption></a>
						</figure>
						<figure class="item">
								<a href="https://hazelcast.com/clients/node-js/"><img src="{{{uiRootPath}}}/img/language-logo-node.png"/>
								<figcaption class="caption">Node.js</figcaption></a>
						</figure>
						<figure class="item">
								<a href="https://hazelcast.com/clients/python/"><img src="{{{uiRootPath}}}/img/language-logo-python.png"/>
								<figcaption class="caption">Python</figcaption></a>
						</figure>
						<figure class="item">
								<a href="https://hazelcast.com/clients/go/"><img src="{{{uiRootPath}}}/img/go.png"/>
								<figcaption class="caption">Go</figcaption></a>
						</figure>
						<figure class="item">
								<a href="https://docs.hazelcast.com/clc/latest/"><img src="{{{uiRootPath}}}/img/hazelcast-flat.png"/>
								<figcaption class="caption">CLC</figcaption></a>
						</figure>
					</div>
					<div class="card mc">
					<h3 class="card-header"><a href="{{{siteRootPath}}}/management-center/latest/">Management Center</a>
					</h3>
					<p class="card-summary">
						Monitor your Hazelcast clusters.
					</p>
					<ul class="section-content-list">
						<li class="get-started-home section-content-list-item">
							<a href="{{{siteRootPath}}}/management-center/latest/getting-started.html">Get Started <img src="{{{siteRootPath}}}/home/_images/right-arrow.svg"></a>
						</li>
					</ul>
					</div>
					<div class="card">
						<a href="{{{siteRootPath}}}/management-center/latest/"><img style="max-width: 250px;" src="{{{uiRootPath}}}/img/mc-dashboard.svg"></a>
					</div>
				</div>

				<div class="row landing end seealso">
					<div class="card">
					<h3 class="card-header">See Also
					</h3>
						<a href="https://hazelcast.com/hub/">Integration Hub: </a>Explore our connectors and plugins for integrating Hazelcast with various data systems, application frameworks, and cloud runtimes.</li>
					</div>
					<div class="card">
						<a href="{{{siteRootPath}}}/tutorials">Tutorials: </a>Explore tutorials and sample apps that show you how to use Hazelcast for different use cases.</li>
					</div>
					<div class="card">
						<a href="https://training.hazelcast.com/">Online Training: </a>Learn Hazelcast by following self-paced online training courses.</li>
					</div>
				</div>
			</div>
		</article>
	</main>
</div>
