<div class="home">
  <div class="home-background">
    <h1 class="home-background-heading">Welcome to Hazelcast Docs - find user guides, code samples, tutorials, API reference, and more.</h1>
    <div id="search-input" class="search-container searchbox">
    </div>
  </div>
	<main data-ceiling="topbar">
		<article class="article">
      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/bulb.png" alt="bulb" />
          </div>
          <h4 class="card-title">Get Started</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/get-started">Hello World</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/kubernetes/deploying-in-kubernetes">Kubernetes Quickstart</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/tutorials">Tutorials</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/support">Support</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/release-notes">Release Notes</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/building.png" alt="building">
          </div>
          <h4 class="card-title">Platform</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/create-account">Create an Account</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/multi-factor-authentication">Multi-Factor Authentication</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/payment-methods">Billing and Payments</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">Developer Guide</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/building.png" alt="building">
          </div>
          <h4 class="card-title">Enterprise</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/create-account">Create an Account</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/multi-factor-authentication">Multi-Factor Authentication</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/payment-methods">Billing and Payments</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">Developer Guide</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/server.png" alt="server">
          </div>
          <h4 class="card-title">Community</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/create-account">Create an Account</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/multi-factor-authentication">Multi-Factor Authentication</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/payment-methods">Billing and Payments</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">Developer Guide</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/cloud.png" alt="cloud">
          </div>
          <h4 class="card-title">Clients</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/create-account">Create an Account</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/multi-factor-authentication">Multi-Factor Authentication</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/payment-methods">Billing and Payments</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">Developer Guide</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/tools.png" alt="tools">
          </div>
          <h4 class="card-title">Tools</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/create-account">Create an Account</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/multi-factor-authentication">Multi-Factor Authentication</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/payment-methods">Billing and Payments</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">Developer Guide</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/management-center">Monitor Your Clusters</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/cloud.png" alt="cloud">
          </div>
          <h4 class="card-title">Cloud</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/get-started">Hello World</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/kubernetes/deploying-in-kubernetes">Kubernetes Quickstart</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/tutorials">Tutorials</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/support">Support</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/release-notes">Release Notes</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/cloud.png" alt="cloud">
          </div>
          <h4 class="card-title">Connect</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/get-started">Hello World</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/kubernetes/deploying-in-kubernetes">Kubernetes Quickstart</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/tutorials">Tutorials</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/support">Support</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/tutorial.png" alt="tutorial">
          </div>
          <h4 class="card-title">Tutorials</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/get-started">Hello World</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/kubernetes/deploying-in-kubernetes">Kubernetes Quickstart</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/tutorials">Tutorials</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/support">Support</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/release-notes">Release Notes</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/award.png" alt="award">
          </div>
          <h4 class="card-title">Popular</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/get-started">Hello World</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/kubernetes/deploying-in-kubernetes">Kubernetes Quickstart</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/tutorials">Tutorials</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/support">Support</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/release-notes">Release Notes</a>
          </li>
        </ul>
      </div>
		</article>
	</main>
</div>
