<div class="home">
  <div class="home-background">
    <h1 id="articleTitle" class="home-background-heading">
      Hazelcast Documentation
    </h1>
    <p class="home-background-subheading">
      Find user guides, code samples, tutorials, API reference, and more.
    </p>
    <div class="home-background-buttons">
      <div id="search-input" class="search-container searchbox">
        {{> algolia-search-loader }}
      </div>
      {{#if site.keys.aiSearchId}}
        <p>or</p>
        <a class="navbar-item" href="#">
          <button class="button small header-button ask-ai-button" id="askAIHeaderBtn">
            <img class="header-button-icon" src="{{{uiRootPath}}}/img/kapa/ask-ai-icon.svg" alt="ask ai" />
            Ask AI
          </button>
        </a>
      {{/if}}
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      window.addEventListener("scroll", function () {
        const navbar = document.querySelector("nav.navbar");
        if (window.scrollY > 50) {
          navbar.classList.add("scrolled");
        } else {
          navbar.classList.remove("scrolled");
        }
      });
    });
  </script>

  <!-- Promo Banner: Pull from Wordpress -->
  <div id="promo-banner-container">
  </div>

  <main data-ceiling="topbar">
    <article class="article bottom-padding">
      <div class="card">
        <div class="card-header">
          <i data-feather="zap" class="card-img"></i>
          <h4 class="card-title">Get started</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/what-is-hazelcast">What is Hazelcast Platform?</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/get-started-docker">Start a local cluster</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/install-hazelcast">Install Community Edition for free</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/ask-ai">Ask AI</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="layers" class="card-img"></i>
          <h4 class="card-title"><a href="{{{siteRootPath}}}/hazelcast/latest/what-is-hazelcast">Hazelcast Platform</a></h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/5.6/whats-new">What’s new in 5.6</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/deploy/choosing-a-deployment-option">Available topologies</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/editions">Community vs. Enterprise</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/deploy/deploying-in-cloud">Cloud deployment</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="briefcase" class="card-img"></i>
          <h4 class="card-title">Develop and build</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/hazelcast-clients">Get started with a Hazelcast Client</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/architecture/architecture">Architecture</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/kubernetes/deploying-in-kubernetes">Deploying with Kubernetes</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/cluster-performance/best-practices">Best practices</a>
          </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <!-- <img class="card-img" src="{{{uiRootPath}}}/img/team.svg" alt="team" /> -->
          <i data-feather="target" class="card-img"></i>
          <h4 class="card-title">Operate and manage</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/configuration/understanding-configuration">Configuration</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/security/overview">Security</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/cp-subsystem/cp-subsystem">CP Subsystem</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/wan/wan">WAN Replication</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <!-- <img class="card-img" src="{{{uiRootPath}}}/img/team.svg" alt="team" /> -->
          <i data-feather="server" class="card-img"></i>
          <h4 class="card-title">Clients and APIs</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/java">
              <img class="card-img" src="{{{uiRootPath}}}/img/java.png" alt="java" />
              Java
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/cplusplus">
              <img class="card-img" src="{{{uiRootPath}}}/img/cpp.svg" alt="cpp" />
              C++
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/python">
              <img class="card-img" src="{{{uiRootPath}}}/img/python.png" alt="python" />
              Python
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/hazelcast-clients">All libraries & APIs (C#, Go...)</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <svg class="card-img" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2330_602)">
              <path d="M7.22888 25.6118L11.4789 29.8618L15.7289 25.6118" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M27.0621 24.1952L22.8121 19.9452L18.5621 24.1952" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M11.4789 19.9452V29.8618" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M22.8121 29.8618L22.8121 19.9452" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M29.7255 25.7393C30.9571 24.8732 31.8807 23.6372 32.3623 22.2106C32.8439 20.784 32.8583 19.2411 32.4035 17.8057C31.9488 16.3704 31.0485 15.1173 29.8332 14.2283C28.618 13.3393 27.1512 12.8606 25.6455 12.8618H23.8605C23.4344 11.2013 22.6372 9.65908 21.5288 8.35126C20.4205 7.04344 19.0298 6.0041 17.4617 5.31148C15.8935 4.61886 14.1887 4.29102 12.4755 4.35263C10.7623 4.41424 9.08537 4.8637 7.57101 5.66717C6.05665 6.47064 4.74429 7.60718 3.73274 8.99124C2.72119 10.3753 2.0368 11.9708 1.73109 13.6576C1.42539 15.3445 1.50634 17.0787 1.96785 18.7297C2.42935 20.3807 3.25939 21.9055 4.39547 23.1893" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
          </svg>
          <h4 class="card-title">Connectors</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/kafka-connector">
              Kafka
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/mongodb-connector">
              MongoDB
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/jdbc-connector">
              JDBC
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/connectors">All connectors (Redis, Custom)</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="tool" class="card-img"></i>
          <h4 class="card-title">Tools</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/management-center/latest/getting-started/overview">Management Center</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/operator/latest/">Platform Operator</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/clc/latest/overview">Command Line Client (CLC)</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/plugins/hazelcast-plugins">Plugins</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="cloud" class="card-img"></i>
          <h4 class="card-title"><a href="{{{siteRootPath}}}/cloud/">Hazelcast Cloud</a></h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/overview">About Hazelcast Cloud</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/get-started">Hello World</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/tutorials">Cloud Tutorials</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">Developer Guide</a>
          </li>
        </ul>
      </div>

    </article>

    <aside class="additional-cards light-section">
      <div class="additional-card">
        <div class="card-header">
          <i data-feather="book-open" class="card-img"></i>
          <h4 class="card-title"><a href="{{{siteRootPath}}}/tutorials">Tutorials</a></h4>
        </div>
            <dl class="card-list">
              <dt class="card-list-item">
                <a href="{{{siteRootPath}}}/tutorials/java-client-getting-started">Get Started with Java Client</a>
              </dt>
              <dd class="card-list-item-description">
                Use Hazelcast Cloud to get started with a Java client and manipulate a map.
              </dd>
              <dt class="card-list-item">
                <a href="{{{siteRootPath}}}/hazelcast/latest/tutorials/kubernetes">Deploy Hazelcast using Kubernetes</a>
              </dt>
              <dd class="card-list-item-description">
                Deploy a Hazelcast cluster to Kubernetes and connect it to a Kubernetes application.
              </dd>
              <dt class="card-list-item">
                <a href="https://training.hazelcast.com/vector-search-on-hazelcast?utm_source=docs-website">Free Training: Vector Search on Hazelcast</a>
              </dt>
              <dd class="card-list-item-description">
                Learn how to use Hazelcast to create real-time applications using our fast data storage and distributed computing engine.
              </dd>
              <dt class="card-list-item">
                <a href="{{{siteRootPath}}}/tutorials/airline-connections">Build Airline Connections Demo using Hazelcast Cloud</a>
              </dt>
              <dd class="card-list-item-description">
                Create an application that uses streaming data to correlate flight details with stored data.
              </dd>
              <dt class="card-list-item">
                <a href="{{{siteRootPath}}}/tutorials/spring-boot-client">Create a Spring Boot Application for Hazelcast Cloud</a>
              </dt>
              <dd class="card-list-item-description">
                Deploy a Spring Boot application that uses Hazelcast as a cache manager.
              </dd>
            </dl>
      </div>

      <div class="additional-card">
        <div class="card-header">
          <i data-feather="award" class="card-img"></i>
          <h4 class="card-title">New and Popular</h4>
        </div>
            <dl class="card-list">
              <dt class="card-list-item">
                <a href="https://hazelcast.com/blog/announcing-hazelcast-platform-5-6-0/?utm_source=docs-website">Blog: Announcing Hazelcast Platform 5.6.0: Enhanced Control and Resilience</a>
              </dt>
              <dd class="card-list-item-description">
                Hazelcast Platform 5.6.0 now available for Community and Enterprise editions.
              </dd>
              <dt class="card-list-item">
                <a href="https://hazelcast.com/blog/spring-session-hazelcast/?utm_source=docs-website">Blog: Hazelcast Takes the Lead for Spring Session Hazelcast</a>
              </dt>
              <dd class="card-list-item-description">
                Spring Session Hazelcast module will now be maintained and developed by the Hazelcast engineering team.
              </dd>
              <dt class="card-list-item">
                <a href="https://hazelcast.com/blog/navigating-consistency-in-distributed-systems-choosing-the-right-trade-offs/?utm_source=docs-website">Blog: Navigating Consistency in Distributed Systems</a>
              </dt>
              <dd class="card-list-item-description">
                Every distributed system faces a critical question: should we prioritize consistency or availability?
              </dd>
              <dt class="card-list-item">
                <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/integrate-with-feast">Integrate with Feast</a>
              </dt>
              <dd class="card-list-item-description">
                Start using Feast integration to serve real-time online features.
              </dd>
              <dt class="card-list-item">
                <a href="https://hazelcast.com/blog/dynamic-configuration-no-restarts-required/?utm_source=docs-website">Blog: Dynamic Configuration: No Restarts Required</a>
              </dt>
              <dd class="card-list-item-description">
                Dynamic configuration enables you to add new data structure configurations at runtime without restarting the cluster.
              </dd>
          </dl>
      </div>
    </aside>

    {{> feedback-footer }}
  </main>
</div>

<script>
  // Promo Banner: Pull from Wordpress
  document.addEventListener("DOMContentLoaded", () => {
    const container = document.getElementById('promo-banner-container');
    if (!container) return;

    fetch('https://hazelcast.com/wp-json/wp/v2/pages?slug=docs-site-promo-banner')
      .then(res => res.ok ? res.json() : Promise.reject(res))
      .then(data => {
        const rawHtml = data?.[0]?.content?.rendered;
        if (!rawHtml) {
          console.warn("Promo banner content not found.");
          return;
        }

        // Clean up any accidental <br> or whitespace
        const cleanHtml = rawHtml.replace(/^\s*<br\s*\/?>/i, '').trim();

        const tempDiv = document.createElement('div');
        tempDiv.innerHTML = cleanHtml;

        const promoBanner = tempDiv.querySelector('.promo-banner');
        container.innerHTML = ''; // Clear any fallback/loading

        if (promoBanner) {
          container.appendChild(promoBanner.cloneNode(true));
        } else {
          console.warn("No .promo-banner found in fetched content.");
        }
      })
      .catch(err => {
        console.error("Failed to load promo banner:", err);
        container.innerHTML = ''; // fallback or leave empty
      });

    feather.replace();
  });

</script>

