<div class="home">
  <div class="home-background">
    <h1 class="home-background-heading">Welcome to Hazelcast Docs - find user guides, code samples, tutorials, API reference, and more.</h1>
    <div id="search-input" class="search-container searchbox">
    </div>
  </div>
	<main data-ceiling="topbar">
		<article class="article">
      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/bulb.png" alt="bulb" />
          </div>
          <h4 class="card-title">Get Started</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/get-started/">Hello World</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/5.4/kubernetes/deploying-in-kubernetes/">Kubernetes Quickstart</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/5.4/getting-started/get-started-java/">Using Java Embedded</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/get-started/">Start free trial</a>
          </li>
          <li class="card-list-item">
            <a href="https://cloud.hazelcast.com/">Try Cloud</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/building.png" alt="building">
          </div>
          <h4 class="card-title">Platform</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/create-account">Develop solutions</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/multi-factor-authentication">Deploy clusters</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/payment-methods">Manage clusters</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">Upgrades and installation</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/building.png" alt="building">
          </div>
          <h4 class="card-title">Enterprise</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/create-account">What’s new</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/multi-factor-authentication">Persistence</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/payment-methods">WAN Replication</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">High-Density Memory Store</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">Security Suite</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/server.png" alt="server">
          </div>
          <h4 class="card-title">Community</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/create-account">Install Community Edition</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/multi-factor-authentication">Community Edition features</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/payment-methods">Community vs. Entrprise</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">Upgrade from OSS</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/cloud.png" alt="cloud">
          </div>
          <h4 class="card-title">Clients</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/create-account">Java</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/multi-factor-authentication">C#</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/payment-methods">Go</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">All client libraries</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">API reference</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/tools.png" alt="tools">
          </div>
          <h4 class="card-title">Tools</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/create-account">Management Center</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/multi-factor-authentication">Platform Operator</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/payment-methods">Command Line Client (CLC)</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">Connectors</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/cloud.png" alt="cloud">
          </div>
          <h4 class="card-title">Cloud</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/get-started">Try Hazelcast Cloud</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/kubernetes/deploying-in-kubernetes">Hello World</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/tutorials">Cloud Tutorials</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/support">Developer Guide</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/release-notes">Release Notes</a>
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/cloud.png" alt="cloud">
          </div>
          <h4 class="card-title">Connect</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/get-started">Hazelcast Connect</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/kubernetes/deploying-in-kubernetes">Demo</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/tutorials">Quickstart</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/support">API</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/tutorial.png" alt="tutorial">
          </div>
          <h4 class="card-title">Tutorials</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/get-started">Hazelcast for Kubernetes</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/kubernetes/deploying-in-kubernetes">Get Started with Java Client</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/tutorials">Create a Sprint Boot Application for Hazelcast Cloud</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/support">Airline Connections Demo</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/release-notes">SQL Basics on Hazelcast Cloud</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{{uiRootPath}}}/img/home-card/award.png" alt="award">
          </div>
          <h4 class="card-title">Popular</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/get-started">What’s New in Hazelcast 5.4</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/kubernetes/deploying-in-kubernetes">Get Started with Kubernetes and Hazelcast</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/tutorials">Building a cache with MapStore</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/support">Using Platform Operator</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/release-notes">Blog: Caching with Spring Boot and Hazelcast</a>
          </li>
        </ul>
      </div>
		</article>
	</main>
</div>
