<div class="home">
  <div class="home-background">
    <h1 class="home-background-heading">
      Hazelcast Documentation
    </h1>
    <p class="home-background-subheading">
      Find user guides, code samples, tutorials, API reference, and more.
    </p>
    <div id="search-input" class="search-container searchbox">
    </div>
  </div>
  <main data-ceiling="topbar">
    <article class="article">
      <div class="card">
        <div class="card-header">
          <i data-feather="zap" class="card-img"></i>
          <h4 class="card-title">Get started</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/what-is-hazelcast">What is Hazelcast Platform?</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/get-started-docker">Start a local cluster</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/enterprise-overview">Get started with Enterprise Edition</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/install-hazelcast">Install Community Edition for free</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="layers" class="card-img"></i>
          <h4 class="card-title">Hazelcast Platform</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/whats-new">What’s new in 5.4</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/deploy/choosing-a-deployment-option">Available topologies</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/editions">Community vs. Enterprise</a>
          </li>
<!--      <li class="card-list-item">
            <a href="{{{siteRootPath}}}/getting-started/editions">Install and upgrade</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/getting-started/editions">Feature overview</a>
          </li>
!-->
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/deploy/deploying-in-cloud">Cloud deployment</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="briefcase" class="card-img"></i>
          <h4 class="card-title">Develop and build</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/hazelcast-clients">Get started with a Hazelcast Client</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/architecture/architecture">Architecture</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/kubernetes/deploying-in-kubernetes">Deploying with Kubernetes</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/cluster-performance/best-practices">Best practices</a>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <!-- <img class="card-img" src="{{{uiRootPath}}}/img/team.svg" alt="team" /> -->
          <i data-feather="target" class="card-img"></i>
          <h4 class="card-title">Operate and manage</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/configuration/understanding-configuration">Configuration</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/security/overview">Security</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/cp-subsystem/cp-subsystem">CP Subsystem</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/wan/wan">WAN Replication</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <!-- <img class="card-img" src="{{{uiRootPath}}}/img/team.svg" alt="team" /> -->
          <i data-feather="server" class="card-img"></i>
          <h4 class="card-title">Clients and APIs</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/java">
              <img class="card-img" src="{{{uiRootPath}}}/img/java.png" alt="java" />
              Java
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/cplusplus">
              <img class="card-img" src="{{{uiRootPath}}}/img/cpp.svg" alt="cpp" />
              C++
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/python">
              <img class="card-img" src="{{{uiRootPath}}}/img/python.png" alt="python" />
              Python
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/hazelcast-clients">All libraries & APIs (C#, Go...)</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <img class="card-img" src="{{{uiRootPath}}}/img/streaming.svg" alt="team" />
          <h4 class="card-title">Connectors</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/kafka-connector">
              Kafka
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/mongodb-connector">
              MongoDB
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/jdbc-connector">
              JDBC
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/connectors">All connectors (Redis, Custom)</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="tool" class="card-img"></i>
          <h4 class="card-title">Tools</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/management-center/latest/getting-started/overview">Management Center</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/operator/5.12">Platform Operator</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/clc/latest/overview">Command Line Client (CLC)</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/plugins/hazelcast-plugins">Plugins</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="cloud" class="card-img"></i>
          <h4 class="card-title">Cloud</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/overview">About Hazelcast Cloud</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/get-started">Hello World</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/tutorials">Cloud Tutorials</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">Developer Guide</a>
          </li>
        </ul>
      </div>


    </article>

    <aside class="additional-cards">
      <div class="additional-card">
        <div class="card-header">
          <i data-feather="book-open" class="card-img"></i>
          <h4 class="card-title">Tutorials</h4>
        </div>
        <dl class="card-list">
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/tutorials/java-client-getting-started">Get Started with Java Client</a>
          </dt>
          <dd class="card-list-item-description">
            Use Hazelcast Cloud to get started with a Java client and manipulate a map.
          </dd>
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/tutorials/kubernetes">Deploy Hazelcast using Kubernetes</a>
          </dt>
          <dd class="card-list-item-description">
            Deploy a Hazelcast cluster to Kubernetes and connect it to a Kubernetes application.
          </dd>
          <dt class="card-list-item">
            <a href="https://training.hazelcast.com/introduction-to-stream-processing-with-hazelcast?utm_source=docs-website">Free Training: Hazelcast Platform Essentials</a>
          </dt>
          <dd class="card-list-item-description">
            Learn how to use Hazelcast to create real-time applications using our fast data storage and distributed computing engine.
          </dd>
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/tutorials/airline-connections">Build Airline Connections Demo using Hazelcast Cloud</a>
          </dt>
          <dd class="card-list-item-description">
            Create an application that uses streaming data to correlate flight details with stored data.
          </dd>
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/tutorials/spring-boot-client">Create a Spring Boot Application for Hazelcast Cloud</a>
          </dt>
          <dd class="card-list-item-description">
            Deploy a Spring Boot application that uses Hazelcast as a cache manager.
          </dd>
        </dl>
      </div>

      <div class="additional-card">
        <div class="card-header">
          <i data-feather="award" class="card-img"></i>
          <h4 class="card-title">Popular</h4>
        </div>
        <dl class="card-list">
          <dt class="card-list-item">
            <a href="https://hazelcast.com/blog/announcing-hazelcast-platform-5-4-release">Blog: What’s New in Hazelcast 5.4</a>
          </dt>
          <dd class="card-list-item-description">
            Discover our latest improvements, including Tiered Storage, CP Map, Thread-Per-Core (TPC), User Code Namespaces, and much more.
          </dd>
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/mapstore/working-with-external-data">Build a Cache with MapStore</a>
          </dt>
          <dd class="card-list-item-description">
            Deploy Hazelcast using Kubernetes and get up and running as quickly as possible.
          </dd>
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/tutorials/write-through-cache-serverless-mapstore/">Building a cache with MapStore</a>
          </dt>
          <dd class="card-list-item-description">
            Use the MapStore API to build a cache on top of Hazelcast.
          </dd>
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/tutorials/hazelcast-platform-operator-expose-externally/">Using Platform Operator</a>
          </dt>
          <dd class="card-list-item-description">
            Simplify working with Hazelcast clusters on Kubernetes and OpenShift.
          </dd>
          <dt class="card-list-item">
            <a href="https://hazelcast.com/blog/spring-boot/">Blog: Caching with Spring Boot and Hazelcast</a>
          </dt>
          <dd class="card-list-item-description">
            Read this step-by-step blog on how to use Hazelcast as a cache manager for your Spring Boot application.
          </dd>
        </dl>
      </div>
    </aside>

    {{> feedback-footer }}
  </main>
</div>

<script>
  feather.replace();
</script>

