<div class="home">
  <div class="home-background">
    <h1 class="home-background-heading">
      Hazelcast Documentation
    </h1>
    <p class="home-background-subheading">
      Find user guides, code samples, tutorials, API reference, and more.
    </p>
    <div id="search-input" class="search-container searchbox">
    </div>
    <section class="featured-cards">
      <div class="card">
        <div class="card-header">
          <i data-feather="zap" class="card-img"></i>
          <h4 class="card-title">Get started</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/what-is-hazelcast">What is Hazelcast Platform?</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/get-started-docker">Start a local cluster</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/install-hazelcast">Install Community Edition for free</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/ask-ai">Ask AI</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="layers" class="card-img"></i>
          <h4 class="card-title"><a href="{{{siteRootPath}}}/hazelcast/latest/what-is-hazelcast">Hazelcast Platform</a></h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/5.5/whats-new">What’s new in 5.5</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/deploy/choosing-a-deployment-option">Available topologies</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/editions">Community vs. Enterprise</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/deploy/deploying-in-cloud">Cloud deployment</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="briefcase" class="card-img"></i>
          <h4 class="card-title">Develop and build</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/hazelcast-clients">Get started with a Hazelcast Client</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/architecture/architecture">Architecture</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/kubernetes/deploying-in-kubernetes">Deploying with Kubernetes</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/cluster-performance/best-practices">Best practices</a>
          </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <!-- <img class="card-img" src="{{{uiRootPath}}}/img/team.svg" alt="team" /> -->
          <i data-feather="server" class="card-img"></i>
          <h4 class="card-title">Clients and APIs</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/java">
              <img class="card-img" src="{{{uiRootPath}}}/img/java.png" alt="java" />
              Java
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/cplusplus">
              <img class="card-img" src="{{{uiRootPath}}}/img/cpp.svg" alt="cpp" />
              C++
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/python">
              <img class="card-img" src="{{{uiRootPath}}}/img/python.png" alt="python" />
              Python
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/hazelcast-clients">All libraries & APIs (C#, Go...)</a>
          </li>
        </ul>
      </div>

    </section>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      window.addEventListener("scroll", function () {
        const navbar = document.querySelector("nav.navbar");
        if (window.scrollY > 50) {
          navbar.classList.add("scrolled");
        } else {
          navbar.classList.remove("scrolled");
        }
      });
    });
  </script>

  <!-- Promo Banner: Pull from Wordpress -->
  <div id="promo-banner-container">
  </div>

  <main data-ceiling="topbar">
    <article class="article bottom-padding">
      <div class="card">
        <div class="card-header">
          <!-- <img class="card-img" src="{{{uiRootPath}}}/img/team.svg" alt="team" /> -->
          <i data-feather="target" class="card-img"></i>
          <h4 class="card-title">Operate and manage</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/configuration/understanding-configuration">Configuration</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/security/overview">Security</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/cp-subsystem/cp-subsystem">CP Subsystem</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/wan/wan">WAN Replication</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <img class="card-img" src="{{{uiRootPath}}}/img/streaming.svg" alt="team" />
          <h4 class="card-title">Connectors</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/kafka-connector">
              Kafka
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/mongodb-connector">
              MongoDB
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/jdbc-connector">
              JDBC
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/connectors">All connectors (Redis, Custom)</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="tool" class="card-img"></i>
          <h4 class="card-title">Tools</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/management-center/latest/getting-started/overview">Management Center</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/operator/latest/">Platform Operator</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/clc/latest/overview">Command Line Client (CLC)</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/plugins/hazelcast-plugins">Plugins</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="cloud" class="card-img"></i>
          <h4 class="card-title"><a href="{{{siteRootPath}}}/cloud/">Hazelcast Cloud</a></h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/overview">About Hazelcast Cloud</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/get-started">Hello World</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/tutorials">Cloud Tutorials</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">Developer Guide</a>
          </li>
        </ul>
      </div>

    </article>

    <aside class="additional-cards light-section">
      <div class="additional-card">
        <div class="card-header card-header-colored">
          <i data-feather="book-open" class="card-img"></i>
          <h4 class="card-title"><a href="{{{siteRootPath}}}/tutorials">Tutorials</a></h4>
        </div>
        <div class="card-header-padding">
            <dl class="card-list">
              <dt class="card-list-item">
                <a href="{{{siteRootPath}}}/tutorials/java-client-getting-started">Get Started with Java Client</a>
              </dt>
              <dd class="card-list-item-description">
                Use Hazelcast Cloud to get started with a Java client and manipulate a map.
              </dd>
              <dt class="card-list-item">
                <a href="{{{siteRootPath}}}/hazelcast/latest/tutorials/kubernetes">Deploy Hazelcast using Kubernetes</a>
              </dt>
              <dd class="card-list-item-description">
                Deploy a Hazelcast cluster to Kubernetes and connect it to a Kubernetes application.
              </dd>
              <dt class="card-list-item">
                <a href="https://training.hazelcast.com/vector-search-on-hazelcast?utm_source=docs-website">Free Training: Vector Search on Hazelcast</a>
              </dt>
              <dd class="card-list-item-description">
                Learn how to use Hazelcast to create real-time applications using our fast data storage and distributed computing engine.
              </dd>
              <dt class="card-list-item">
                <a href="{{{siteRootPath}}}/tutorials/airline-connections">Build Airline Connections Demo using Hazelcast Cloud</a>
              </dt>
              <dd class="card-list-item-description">
                Create an application that uses streaming data to correlate flight details with stored data.
              </dd>
              <dt class="card-list-item">
                <a href="{{{siteRootPath}}}/tutorials/spring-boot-client">Create a Spring Boot Application for Hazelcast Cloud</a>
              </dt>
              <dd class="card-list-item-description">
                Deploy a Spring Boot application that uses Hazelcast as a cache manager.
              </dd>
            </dl>
          </div>
      </div>

      <div class="additional-card">
        <div class="card-header card-header-colored">
          <i data-feather="award" class="card-img"></i>
          <h4 class="card-title">New and Popular</h4>
        </div>
        <div class="card-header-padding">
            <dl class="card-list">
              <dt class="card-list-item">
                <a href="https://hazelcast.com/blog/navigating-consistency-in-distributed-systems-choosing-the-right-trade-offs/?utm_source=docs-website">Blog: Navigating Consistency in Distributed Systems</a>
              </dt>
              <dd class="card-list-item-description">
                Every distributed system faces a critical question: should we prioritize consistency or availability?
              </dd>
            <dt class="card-list-item">
                <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/integrate-with-feast">Integrate with Feast</a>
              </dt>
              <dd class="card-list-item-description">
                Start using Feast integration to serve real-time online features.
              </dd>
              <dt class="card-list-item">
                <a href="https://hazelcast.com/blog/dynamic-configuration-no-restarts-required/?utm_source=docs-website">Blog: Dynamic Configuration: No Restarts Required</a>
              </dt>
              <dd class="card-list-item-description">
                Dynamic configuration enables you to add new data structure configurations at runtime without restarting the cluster.
              </dd>
              <dt class="card-list-item">
                <a href="https://hazelcast.com/blog/get-instant-answers-with-ask-ai-on-hazelcast-documentation/?utm_source=docs-website">Blog: Get Instant Answers with Ask AI on Hazelcast Documentation</a>
              </dt>
              <dd class="card-list-item-description">
                Get instant answers to all your questions about Hazelcast with our new Ask AI feature on docs.hazelcast.com.
              </dd>
              <dt class="card-list-item">
                <a href="https://hazelcast.com/blog/announcing-hazelcast-platform-5-5-release/?utm_source=docs-website">Blog: What’s New in Hazelcast 5.5</a>
              </dt>
              <dd class="card-list-item-description">
                Discover our latest improvements, including vector search, compute isolation, multi-member routing, dynamic configuration using REST API, and much more.
              </dd>
          </dl>
        </div>
      </div>
    </aside>

    {{> feedback-footer }}
  </main>
</div>

<script>
  // Promo Banner: Pull from Wordpress
  document.addEventListener("DOMContentLoaded", function () {
    fetch('https://hazelcast.com/wp-json/wp/v2/pages?slug=docs-site-promo-banner')
      .then(response => response.json())
      .then(data => {
        const html = data[0]?.content?.rendered;
        const tempDiv = document.createElement('div');
        tempDiv.innerHTML = html;

        const promoBanner = tempDiv.querySelector('.promo-banner');
        const container = document.getElementById('promo-banner-container');

        container.innerHTML = ''; // remove loading

        if (promoBanner) {
          container.appendChild(promoBanner.cloneNode(true));
        } else {
          console.warn('No .promo-banner found in fetched content');
        }
      })
      .catch(error => {
        console.error('Failed to load promo banner:', error);
        const container = document.getElementById('promo-banner-container');
        container.innerHTML = ''; // fallback
      });
  });

  // feather icons
  feather.replace();

</script>

