<div class="tut home">
  <div class="tut home-background">
    <h1>{{{page.title}}}</h1>
  </div>
	<main data-ceiling="topbar">
		<article class="article">
      <div class="intro">
          {{{page.contents}}}
      </div>
      <div class="search-container">
        <input id="search-input" type="text" placeholder="Search tutorials">
        <a id="search-open" ><i class="fa fa-search" aria-hidden="true"></i></a>
      </div>
      <div id="use-case-dropdown" class="dropdown">
        <button onclick="toggleDropdown()" class="tutorials-dropdown-toggle">Filter by use case ▼</button>
        <ul id="use-cases" class="dropdown-content" role="listbox">
          <li role="option" value="all" onclick="showAll()">All</li>
          {{#each (get-use-cases)}}
          <li role="option" value="{{this}}" onclick="filterUseCases(event)">{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="tut-cards">
        {{#each (get-tutorial-pages)}}
					<div data-edition="{{this.asciidoc.attributes.page-edition}}" data-lang="{{this.asciidoc.attributes.page-lang}}" data-use-case="{{this.asciidoc.attributes.page-use-case}}" class="tut-card">
            <div class="card-header">
              <h3>
                {{this.asciidoc.attributes.doctitle}}
              </h3>
            </div>
            <div class="summary">
              <div class="card-summary">
                <p>
                  {{this.asciidoc.attributes.description}}
                </p>
              </div>
              <div class="time">
                <p>
                  {{this.asciidoc.attributes.page-est-time}}
                </p>
              </div>
            </div>
            <div class="start">
              <div class="get-started">
                <ul>
                  <li>
                    <a href="{{{siteRootPath}}}{{this.out.path}}">Start tutorial</a>
                  </li>
                </ul>
              </div>
              <div class="source"><a class="git" href="{{this.src.origin.webUrl}}/tree/{{this.asciidoc.attributes.page-origin-branch}}/modules/ROOT/examples">GitHub Source</a>
              </div>
            </div>
					</div>
        {{/each}}
		</article>
	</main>
</div>
