<div class="home">
  <div class="home-background">
    <h1>{{{page.title}}}</h1>
		<!--
    <div class="search-container">
      <input id="search-input" type="text" placeholder="">
    </div>
		-->
  </div>
	<main data-ceiling="topbar">
		<article class="article">
			<div class="cards">
				<div class="row landing">

					<div class="card">
						<h3 class="card-header"><a href="{{{siteRootPath}}}/cloud/">HAZELCAST VIRIDIAN</a>
						<button disabled class="new">new</button>
						</h3>
						<p class="card-summary">
							Abstract away the manual effort of managing physical servers so that you can focus on what matters: Building your application. Start for free and pay as you grow.
						</p>
						<ul>
							<li class="get-started-home">
								<a href="https://docs.hazelcast.com/cloud/get-started">Get Started <img src="{{{siteRootPath}}}/home/_images/right-arrow.svg"></a>
							</li>
						</ul>
					</div>

					<div class="card">
						<h3 class="card-header"><a href="{{{siteRootPath}}}/hazelcast/latest/">HAZELCAST PLATFORM</a>
						</h3>
						<p class="card-summary">
							Leverage the power of data processing and storage in a single platform.
						</p>
						<ul>
							<li><a href="{{{siteRootPath}}}/hazelcast/latest/migrate/upgrading-from-imdg-4">Upgrade</a></li>
							<li><a href="{{{siteRootPath}}}/hazelcast/latest/production-checklist">Deploy</a></li>
							<li><a href="{{{siteRootPath}}}/operator/latest/">Deploy with Kubernetes Operator</a></li>
							<li class="get-started-home">
								<a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/quickstart">Get Started <img src="{{{siteRootPath}}}/home/_images/right-arrow.svg"></a>
							</li>
						</ul>
						<div id="legacy">
							<p>Looking for <b>IMDG</b> or <b>Jet</b>?</p>
							<ul>
								<li><a href="{{{siteRootPath}}}/imdg/latest/getting-started">IMDG Docs</a></li>
								<li><a href="https://jet-start.sh/docs/get-started/intro">Jet Docs</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row landing">
					<div class="card clients-first">
						<h3 class="card-header">Hazelcast Clients
						</h3>
						<p class="card-summary">
							Connect your applications to Hazelcast clusters.
						</p>
					</div>
					<div class="card clients">
						<figure class="item">
								<a href="https://hazelcast.com/clients/java/"><img src="{{{uiRootPath}}}/img/language-logo-java.png">
								<figcaption class="caption">Java</figcaption></a>
						</figure>
						<figure class="item">
								<a href="https://hazelcast.com/clients/dotnet/"><img src="{{{uiRootPath}}}/img/dotnet.png">
								<figcaption class="caption">.Net</figcaption></a>
						</figure>
						<figure class="item">
								<a href="https://hazelcast.com/clients/cplusplus/"><img src="{{{uiRootPath}}}/img/cpp.svg"/>
								<figcaption class="caption">C++</figcaption></a>
						</figure>
						<figure class="item">
								<a href="https://hazelcast.com/clients/node-js/"><img src="{{{uiRootPath}}}/img/language-logo-node.png"/>
								<figcaption class="caption">Node.js</figcaption></a>
						</figure>
						<figure class="item">
								<a href="https://hazelcast.com/clients/python/"><img src="{{{uiRootPath}}}/img/language-logo-python.png"/>
								<figcaption class="caption">Python</figcaption></a>
						</figure>
						<figure class="item">
								<a href="https://hazelcast.com/clients/go/"><img src="{{{uiRootPath}}}/img/go.png"/>
								<figcaption class="caption">Go</figcaption></a>
						</figure>
					</div>
					<div class="card mc">
					<h3 class="card-header"><a href="{{{siteRootPath}}}/management-center/latest/">Management Center</a>
					</h3>
					<p class="card-summary">
						Monitor your Hazelcast clusters.
					</p>
					<ul>
						<li class="get-started-home">
							<a href="{{{siteRootPath}}}/management-center/latest/getting-started.html">Get Started <img src="{{{siteRootPath}}}/home/_images/right-arrow.svg"></a>
						</li>
					</ul>
					</div>
					<div class="card">
						<a href="{{{siteRootPath}}}/management-center/latest/"><img style="max-width: 250px;" src="{{{uiRootPath}}}/img/mc-dashboard.svg"></a>
					</div>
				</div>

				<div class="row landing end seealso">
					<div class="card">
					<h3 class="card-header">See Also
					</h3>
						<a href="https://hazelcast.com/hub/">Integration Hub: </a>Explore our connectors and plugins for integrating Hazelcast with various data systems, application frameworks, and cloud runtimes.</li>
					</div>
					<div class="card">
						<a href="{{{siteRootPath}}}/tutorials">Tutorials: </a>Explore tutorials and sample apps that show you how to use Hazelcast for different use cases.</li>
					</div>
					<div class="card">
						<a href="https://training.hazelcast.com/">Online Training: </a>Learn Hazelcast by following self-paced online training courses.</li>
					</div>
				</div>
			</div>
		</article>
	</main>
</div>
