<div class="home">
  <div class="home-background">
    <h1 class="home-background-heading">
      Hazelcast Documentation
    </h1>
    <p class="home-background-subheading">
      Find user guides, code samples, tutorials, API reference, and more.
    </p>
    <div id="search-input" class="search-container searchbox">
    </div>
  </div>
	<main data-ceiling="topbar">
		<article class="article">
      <div class="card">
        <div class="card-header">
          <i data-feather="zap" class="card-img"></i>
          <h4 class="card-title">Get started</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/">What is Hazelcast Platform?</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/get-started-docker.html">Start a local cluster</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/get-started-java/">Java Quickstart</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/get-started/install-hazelcast.html">Install Community Edition for free</a>
          </li>
<!--          <li class="card-list-item">-->
<!--            <a href="https://cloud.hazelcast.com/">Try Cloud</a>-->
<!--          </li>-->
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="layers" class="card-img"></i>
          <h4 class="card-title">Hazelcast Platform</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/5.4/whats-new.html">What’s new in 5.4</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/multi-factor-authentication">Install and upgrade</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/payment-methods">Feature overview</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/developer-guide">Community vs. Enterprise</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="briefcase" class="card-img"></i>
          <h4 class="card-title">Develop and build</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/5.4/whats-new.html">Developer Quickstart</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/storage/configuring-persistence/">Architecture and deployment</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/hazelcast/latest/wan/wan">Enterprise features</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/storage/high-density-memory">Best practices</a>
<!--          </li>-->
<!--          <li class="card-list-item">-->
<!--            <a href="{{{siteRootPath}}}/hazelcast/latest/security/overview">Security Suite</a>-->
<!--          </li>-->
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <!-- <img class="card-img" src="{{{uiRootPath}}}/img/team.svg" alt="team" /> -->
          <i data-feather="target" class="card-img"></i>          
          <h4 class="card-title">Operate and manage</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/install-hazelcast">Operator Quickstart</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/editions#enterprise-edition">Manage clusters</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/getting-started/editions/">Performance</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/migrate/data-migration-tool/">Security</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <!-- <img class="card-img" src="{{{uiRootPath}}}/img/team.svg" alt="team" /> -->
          <i data-feather="server" class="card-img"></i>             
          <h4 class="card-title">Clients and APIs</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/java/">
              <img class="card-img" src="{{{uiRootPath}}}/img/java.png" alt="java" />
              Java
            </a>
          </li>
          <li class="card-list-item">
            <a href="https://hazelcast.github.io/hazelcast-cpp-client/api-index.html">
              <img class="card-img" src="{{{uiRootPath}}}/img/cpp.svg" alt="cpp" />
              C++
            </a>
          </li>
          <li class="card-list-item">
            <a href="https://readthedocs.org/projects/hazelcast/">
              <img class="card-img" src="{{{uiRootPath}}}/img/python.png" alt="python" />
              Python
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/clients/hazelcast-clients/">All libraries & APIs (C#, Go...)</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <img class="card-img" src="{{{uiRootPath}}}/img/streaming.svg" alt="team" />
          <h4 class="card-title">Connectors</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/kafka-connector">
              Kafka
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/mongodb-connector">
              MongoDB
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/jdbc-connector">
              JDBC
            </a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/integrate/connectors">All connectors (Redis, Custom)</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="tool" class="card-img"></i>
          <h4 class="card-title">Tools</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/management-center/latest/getting-started/overview/">Management Center</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/operator/latest/">Platform Operator</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/clc/latest/overview/">Command Line Client (CLC)</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/plugins/hazelcast-plugins">Plugins</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          <i data-feather="cloud" class="card-img"></i>
          <h4 class="card-title">Cloud</h4>
        </div>
        <ul class="card-list">
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/get-started">Try Hazelcast Cloud</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/kubernetes/deploying-in-kubernetes">Hello World</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/tutorials">Cloud Tutorials</a>
          </li>
          <li class="card-list-item">
            <a href="{{{siteRootPath}}}/cloud/support">Developer Guide</a>
          </li>
<!--          <li class="card-list-item">-->
<!--            <a href="{{{siteRootPath}}}/cloud/release-notes">Release Notes</a>-->
<!--          </li>-->
        </ul>
      </div>

<!-- Commenting out, for the future -->
<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          <h4 class="card-title">Connect</h4>-->
<!--        </div>-->
<!--        <ul class="card-list">-->
<!--          <li class="card-list-item">-->
<!--            <a href="{{{siteRootPath}}}/#">Hazelcast Connect</a>-->
<!--          </li>-->
<!--          <li class="card-list-item">-->
<!--            <a href="{{{siteRootPath}}}/#">Demo</a>-->
<!--          </li>-->
<!--          <li class="card-list-item">-->
<!--            <a href="{{{siteRootPath}}}/#">Quickstart</a>-->
<!--          </li>-->
<!--          <li class="card-list-item">-->
<!--            <a href="{{{siteRootPath}}}/#">API</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
		</article>

    <aside class="additional-cards">
      <div class="additional-card">
        <div class="card-header">
          <i data-feather="book-open" class="card-img"></i>
          <h4 class="card-title">Tutorials</h4>
        </div>
        <dl class="card-list">
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/tutorials/java-client-getting-started">Get Started with Java Client</a>
          </dt>
          <dd class="card-list-item-description">
            Use Hazelcast Cloud to get started with a Java client and manipulate a map.
          </dd>
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/tutorials/kubernetes">Hazelcast for Kubernetes</a>
          </dt>
          <dd class="card-list-item-description">
            Deploy a Hazelcast cluster to Kubernetes and connect it to a Kubernetes application.
          </dd>
          <dt class="card-list-item">
            <a href="https://training.hazelcast.com/introduction-to-stream-processing-with-hazelcast?utm_source=docs-website">Free Training: Hazelcast Platform Essentials</a>
          </dt>
          <dd class="card-list-item-description">
            Learn how to use Hazelcast to creat real-time applications using our fast data storage and distributed computing engine.
          </dd>          
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/tutorials/airline-connections">Build Airline Connections Demo using Hazelcast Cloud</a>
          </dt>
          <dd class="card-list-item-description">
            Create an application that uses streaming data to correlate flight details with stored data.
          </dd>
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/tutorials/spring-boot-client">Create a Spring Boot Application for Hazelcast Cloud</a>
          </dt>
          <dd class="card-list-item-description">
            Deploy a Spring Boot application that uses Hazelcast as a cache manager.
          </dd>
        </dl>
      </div>

      <div class="additional-card">
        <div class="card-header">
          <i data-feather="award" class="card-img"></i>
          <h4 class="card-title">Popular</h4>
        </div>
        <dl class="card-list">
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/hazelcast/latest/whats-new/">Blog: What’s New in Hazelcast 5.4</a>
          </dt>
          <dd class="card-list-item-description">
            Discover our latest improvements, including Tiered Storage, CP Map, Thread-Per-Core (TPC), User Code Namespaces, and much more.
          </dd>
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/tutorials/kubernetes/">Get Started with Kubernetes and Hazelcast</a>
          </dt>
          <dd class="card-list-item-description">
            Deploy Hazelcast using Kubernetes and get up and running as quickly as possible.
          </dd>
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/tutorials/write-through-cache-serverless-mapstore/">Building a cache with MapStore</a>
          </dt>
          <dd class="card-list-item-description">
            Use the MapStore API to build a cache on top of Hazelcast.
          </dd>
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/tutorials/hazelcast-platform-operator-expose-externally/">Using Platform Operator</a>
          </dt>
          <dd class="card-list-item-description">
            Simplify working with Hazelcast clusters on Kubernetes and OpenShift.
          </dd>
          <dt class="card-list-item">
            <a href="{{{siteRootPath}}}/blog/announcing-hazelcast-platform-5-4-release/">Blog: Caching with Spring Boot and Hazelcast</a>
          </dt>
          <dd class="card-list-item-description">
            Read this step-by-step blog on how to use Hazelcast as a cache manager for your Spring Boot application.
          </dd>
        </dl>
      </div>
    </aside>

    <div class="feedback-card">
      <div class="card-header">
        <img class="card-img" src="{{{uiRootPath}}}/img/lifebuoy.svg" alt="lifebuoy" />
        <h4 class="card-title">Help and support</h4>
      </div>
      {{> was-this-helpful-feedback }}
      {{#with (get-page-info)}}
        <a class="additional-feedback feedback-button" href="{{this.src.origin.webUrl}}/issues/new?title=Docs: Feedback for {{{this.title}}}&body=Hi, I have some feedback about [this page]({{{this.src.editUrl}}})%0D%0A" target="_blank">
          <span class="git">
            Report an issue
          </span>
        </a>
      {{/with}}
      <a class="additional-feedback feedback-button" href="https://slack.hazelcast.com/" target="_blank">
        <span class="command">
          Ask Community
        </span>
      </a>
      <a class="additional-feedback feedback-button" href="https://support.hazelcast.com/s/" target="_blank">
        <span class="mail">
          Contact Support
        </span>
      </a>
    </div>
	</main>
</div>

<script>
  feather.replace();
</script>
