</br>
<div id="feedback-prompt">
  <form name="feedback for {{page.title}}" id="feedback-form" method="POST" data-netlify="true">
    <label>Was this page helpful?</label><br>
    <input type="radio" id="yes-button" name="helpful" value="yes">
    <label for="yes-button" style="font-size: 1em;"><i class="far fa-check-circle"></i> Yes</label><br>
    <input type="radio" id="no-button" name="helpful" value="no">
    <label for="no-button" style="font-size: 1em;"><i class="far fa-times-circle"></i> No</label><br>
    </select>
  <p>
    <button type="submit" id="submit-feedback">Send feedback</button>
  </p>
</form>
</div>
<div class="additional-feedback"><a href="{{page.attributes.ghissue}}?title=Docs: Feedback for {{{page.title}}}&body=Hi, I have some feedback about [this page]({{{page.editUrl}}})%0D%0A" class ="git" target="_blank">Report an issue</a></div>
{{#if (and page.fileUri (not env.CI))}}
  <div class="edit-this-page"><a class="git-pull" href="{{page.fileUri}}" onclick="window.open(this.href,'_blank');return false;">Edit this Page</a></div>
{{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
  <div class="edit-this-page"><a class="git-pull" href="{{page.editUrl}}" onclick="window.open(this.href,'_blank');return false;">Edit this Page</a></div>
{{/if}}
<div class="edit-this-page"><a href="{{page.attributes.survey}}" class="survey" onclick="window.open(this.href,'_blank');return false;">Take our Survey</a></div>

