</br>
<div class="feedback-prompt">
  {{#if (eq page.layout 'tutorial')}}
    {{#with (get-page-info)}}
      <div class="source">
        <a class="git" href="{{this.src.origin.webUrl}}/tree/{{this.asciidoc.attributes.page-origin-branch}}">View source</a>
      </div>
    {{/with}}
  {{/if}}
  {{#if (and page.fileUri (not env.CI))}}
    <div class="edit-this-page"><a class="git-pull" href="{{page.fileUri}}" onclick="window.open(this.href,'_blank');return false;">Edit this page</a></div>
  {{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
    {{#with (get-page-info)}}
      <div class="additional-feedback"><a href="{{this.src.origin.webUrl}}/issues/new?title=Docs: Feedback for {{{this.title}}}&body=Hi, I have some feedback about [this page]({{{this.src.editUrl}}})%0D%0A" class ="git" target="_blank">Report an issue</a></div>
    {{/with}}
    <div class="edit-this-page"><a class="git-pull" href="{{page.editUrl}}" onclick="window.open(this.href,'_blank');return false;">Edit this page</a></div>
  {{/if}}
  <form name="docs-feedback" id="feedback-form" netlify-honeypot="bot-field" method="POST" data-netlify="true">
    <p class="hidden">
      <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
    </p>
    <label for="yes" id="yes-button" class="yes-button">
      <img src="{{{uiRootPath}}}/img/feedback/like.png" alt="like" class="like-img" />
      <span>Was this helpful?</span>
      <input type="radio" id="yes" name="helpful" value="yes" onclick="submitForm()">
    </label>
  </form>
</div>
<script>
  function submitForm() {
    document.getElementById("feedback-form").submit();
  }
</script>
