<script src="{{{uiRootPath}}}/js/site.js"></script>
<script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>
<!-- Before the closing </body> -->
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
{{#if (not-eq page.component.name 'home')}}
<script>
  const search = window.docsearch({
    apiKey: '{{site.keys.docsearchApi}}',
    indexName: '{{site.keys.docsearchIndex}}',
    appId: '{{site.keys.docsearchId}}',
    inputSelector: '#search-input',
    // Set debug to true to inspect the dropdown
    debug: false,
    // Display 25 results in the dropdown
    // and search only the current product
    algoliaOptions: { hitsPerPage: 25, facetFilters: ["tags:{{page.component.name}}"] },
  });
function applyFacetedSearch(){
    var checkbox = document.getElementById('facet')
    var input = document.getElementById('search-input')
    input.value = '';
    if (checkbox.checked) {
      // Search all products
      search.algoliaOptions = { hitsPerPage: 25, facetFilters: [""] }
    } else {
      search.algoliaOptions = { hitsPerPage: 25, facetFilters: ["tags:{{page.component.name}}"] }
    }
  }
</script>
<script>
  function closeBanner() {
    var banner = document.getElementById('latest-banner')
    if (banner) {
      banner.style.display = 'none'
      const now = new Date()
      const item = {
        expiry: now.getTime() + 86400,
      }
      localStorage.setItem('latestBannerCookie', JSON.stringify(item))
    }
  }
</script>
{{/if}}
{{#contains 'Page Not Found' page.title}}
{{/contains}}
