<main class="article">
{{#if (eq page.layout '404')}}
  <div class="content">
    {{> article}}
  </div>
{{else}}
  {{#if (eq page.component.name 'imdg')}}
    <div class="article-banner beta" id="latest-banner">
      <div class="beta-imdg">
        <p>
            <a href="https://support.hazelcast.com/s/article/Version-Support-Windows">Hazelcast IMDG support has expired.
            </a>
        </p>
        <p>
          We recommend that you try <a href="https://docs.hazelcast.com/hazelcast/latest/">Hazelcast Platform</a>.
        </p>
      </div>
    <button onclick="closeBanner()" style="color:white; font-size: 2em; background:none; border:none; align-self: flex-start;">&times;</button>
    </div>
  {{/if}}
  {{#unless (or (not-eq page.attributes.hide-view-latest undefined) (eq page.componentVersion page.component.latest))}}
    {{#with (latest-page-url)}}
    <div class="article-banner prerelease" id="latest-banner">
      {{#if (and @root.page.componentVersion.prerelease (not @root.page.latest.prerelease))}}
      <div class="prerelease">
      <p>This is a prerelease version.</p>
          <a class="btn" href="{{relativize this}}">View latest</a>
      </div>
      {{else if (and @root.page.componentVersion.prerelease @root.page.latest.prerelease)}}
        <div class="prerelease">
          <p>This is a prerelease version.</p>
      </div>
      {{else}}
      <div class="prerelease">
        <p>A newer version of {{@root.page.component.title}} is available.</p>
        <a class="btn" href="{{relativize this}}">View latest</a>
      </div>
      {{/if}}
      <button onclick="closeBanner()" style="color:white; font-size: 2em; background:none; border:none; align-self: flex-start;">&times;</button>
    </div>
    {{/with}}
  {{/unless}}
  <script>
    function closeBanner() {
      document.getElementById('latest-banner').style.display = 'none'
      const now = new Date()
      const item = {
        expiry: now.getTime() + 86400,
      }
      localStorage.setItem('latestBannerCookie', JSON.stringify(item))
    }
  </script>
  <div class="content">
    {{> article}}
    {{> toc}}
  </div>
{{/if}}
</main>

