<div class="nav-panel-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
  {{#if page.component}}
  <div class="context">
    <span class="title">{{page.component.title}}</span>
    <span class="version">{{page.componentVersion.displayVersion}}</span>
  </div>
  {{/if}}
  <ul class="components">
    {{#each site.components}}
    <li class="component{{#if (eq this @root.page.component)}} is-current{{/if}}">
       {{#if (not-eq this.name 'home')}}
      <span class="title">{{{./title}}} <a class="more-versions">See all versions</a><a class="fewer-versions">See fewer versions</a></span>
      {{else}}
      <span class="title">{{{./title}}}</span>
      {{/if}}
      <ul class="versions">
        {{#each ./versions}}
        {{#if (lte @index 6)}}
          <li class="version
            {{~#if (and (eq .. @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}}
            {{~#if (eq this ../latest)}} is-latest{{/if}}">
            {{#if (eq ./displayVersion 'master')}}
            <a href="{{{relativize ./url}}}">Back to Home</a>
            {{else}}
            <a href="{{{relativize ./url}}}">{{./displayVersion}}</a>
            {{/if}}
          </li>
        {{else}}
          <li class="version hidden
            {{~#if (and (eq .. @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}}
            {{~#if (eq this ../latest)}} is-latest{{/if}}">
            <a href="{{{relativize ./url}}}">{{./displayVersion}}</a>
          </li>
        {{/if}}
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
</div>
