<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Hazelcast'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
  {{#with site.keys.googleAnalytics}}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{this}}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {{/with}}
{{> header}}
<div class="body tutorial">
{{> main-tutorial}}
</div>
{{> footer}}
  {{#with page.attributes.box-number}}
  <script>
    if (document.getElementsByClassName('box').length > 0) {
    var activeBox = document.getElementsByClassName('box box{{this}}')[0]
    activeBox.classList.add('active')
    }
  </script>
  {{/with}}
  <script>
    const search = window.docsearch({
      apiKey: '{{site.keys.docsearchApi}}',
      indexName: '{{site.keys.docsearchIndex}}',
      appId: '{{site.keys.docsearchId}}',
      inputSelector: '#search-input',
      // Set debug to true to inspect the dropdown
      debug: false,
      // Display 25 results in the dropdown
      // and search only the current product
      algoliaOptions: { hitsPerPage: 25, facetFilters: ["tags:tutorials"] },
    });
  </script>
  <script>
    function applyFacetedSearch(){
        var checkbox = document.getElementById('facet')
        var input = document.getElementById('search-input')
        input.value = '';
        if (checkbox.checked) {
          // Search all products
          search.algoliaOptions = { hitsPerPage: 25, facetFilters: [["tags:tutorials", "tags:imdg-{{site.components.imdg.latest.version}}", "tags:hazelcast-{{site.components.hazelcast.latest.version}}", "tags:cloud"]] }
        } else {
          search.algoliaOptions = { hitsPerPage: 25, facetFilters: ["tags:tutorials"] }
        }
      }
  </script>
  </body>
</html>
